
<h1>Search what you want:</h1>
<div class="mb-5">
    <%= form_tag(search_path, method: :get) do |f| %>
        <div class="form-group">
            <select name="e">
                <option value="google">Google</option>
                <option value="bing">Bing</option>
                <option value="both">Google + Bing</option>
            </select>
        </div>
        <div class="form-group">
            <%= text_field_tag(:q, params[:q], class: 'form-control') %> <br />
        </div>

        <%= submit_tag 'Search', class: 'btn btn-primary btn-lg px-4' %>
    <% end %>
</div>
