<% if @search_results.blank? %>
    <h1>No Results</h1>
<% end %>


<% unless @search_results.blank? %>
<h1 class="mb-5">Results: </h1>
<table class="table">
    <tr>
        <th>title</th>
        <th>link</th>
    </tr>
    <% @search_results.each do |r| %>
        <tr>
            <td><%= r.title %></td>
            <td><a href="<%= r.link %>"> <%= r.link %> </a></td>
        </tr>
    <% end %>
</table>
<% end %>
